.place__like-button {
    margin: 0 20px 0 0;
    padding: 0;
    width: 22px;
    height: 100%;
    background: none;
    background-image: url(../../../images/place-like.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.place__like-button:hover {
    opacity: 50%;
}